.normal {
  padding: var(--s2);
  background-color: var(--bg-info-normal);
}

.error {
  composes: normal;
  background-color: var(--bg-info-error);
}

.success {
  composes: normal;
  background-color: var(--bg-info-success);
}