.normal {
  padding: var(--s2);
  background-color: var(--bgc-alert-normal);
}

.error {
  composes: normal;
  background-color: var(--bgc-alert-error);
}

.success {
  composes: normal;
  background-color: var(--bgc-alert-success);
}