.normal {
  padding: calc(var(--space-1) / 2);
  background-color: var(--color-b1);
}

.error {
  composes: normal;
  background-color: var(--color-e1);
}

.success {
  composes: normal;
  background-color: var(--color-d1);
}