.normal {
  border: 0;
  cursor: pointer;
  background-color: transparent; 
  color: var(--c-button-normal);
}

.withIcon {
  composes: normal;
  display: flex;
  align-items: center;
  text-indent: .2rem;
}