.navArea {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--s3) 0;
}

.optsArea {
  display: grid;
  gap: var(--s3);
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
}

.logoContainer {
  justify-self: center;
}

.searchArea {
  margin-left: var(--s2);
  margin-right: var(--s2);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: var(--s3);
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.iconContainer {
  display: flex;
}