.outer {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: var(--s3);
  padding: var(--s2) 0;
}

.inner {
  display: grid;
  align-items: center;
  justify-content: start;
  gap: var(--s3);
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
}