.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: var(--s3);
  justify-content: center;
  margin-bottom: var(--s6);
}

.listItem {
  justify-self: center;
}

.title {
  margin-bottom: 0;
  padding: var(--s2);
  display: block;
  width: 100%;
  font-weight: bold;
}