.form {
  background-color: var(--bgc-search-form);
  border-radius: .8rem;
  display: flex;

  &:focus-within {
    box-shadow: 0 0 1rem var(--bxs-search-form-focus);
  }
}

.input {
  border: 0;
  padding: var(--s1) 0 var(--s1) var(--s2);
  color: var(--c-search-input);
  background: var(--bgc-search-input);
  outline: none;
  border-radius: .8rem 0 0 .8rem;
  width: calc(100% - 2rem);
}

.button {
  display: flex;
  align-items: center;
  width: 2rem;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 0 .8rem .8rem 0;
  background: var(--bgc-search-button);
  padding: 0 var(--s1);
  color: var(--c-search-button);
}