.form {
  background-color: rgba(0, 0, 0, .1);  
  border-radius: .8rem;
  display: flex;

  &:focus-within {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
  }
}

.input {
  border: 0;
  padding: .5rem 0 .5rem 1rem;
  color: white;
  background: rgba(0, 0, 0, .05);
  outline: none;
  border-radius: .8rem 0 0 .8rem;
  width: calc(100% - 2rem);
}

.button {
  display: flex;
  align-items: center;
  width: 2rem;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 0 .8rem .8rem 0;
  background-color: rgba(0, 0, 0, .1);
  padding: 0 .5rem;
  color: white;
}