.m-p {
  margin: 0 auto;
  padding: 0 var(--s1);
}

.full {
  composes: m-p;
  max-width: var(--width-full);
}

.lg {
  composes: m-p;
  max-width: var(--width-lg);
}

.md {
  composes: m-p;
  max-width: var(--width-md);
}

.sm {
  composes: m-p;
  max-width: var(--width-sm);
}