@import 'variables.css';
@import 'hide.css';
@import 'type-sizing.css';
@import 'spacing.css';

body {
  baseline-grid-overlay: 24px rgba(255, 255, 255, .3) -1;
}

html {
  color: white;
  background: linear-gradient(to bottom, var(--color-b1), var(--color-c1));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


